<div class="col-md-6">
  <% if event.has_tickets? %>
      <%= link_to event_path(event) do %>  
        <div class="card">
          <img class="card-img-top" src="<%= event.hero_image_url %>">
          <div class="card-block">
            <h4 class="card-title"><%= event.name %></h4>                    
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="card">
          <img class="card-img-top" src="<%= event.hero_image_url %>">
          <div class="card-block">
            <h4 class="card-title"><%= event.name %></h4> 
            <%= link_to 'Create Ticket To Publish Event',new_ticket_path(event), class: "card-link" %>    
          </div>
        </div>
  <% end %>  
</div>  
